
html{
	overflow:auto;
}



.fieldContainer{
	/* The light rounded section, which contans the fields */
	background-color:#1E1E1E;
	border:1px solid #0E0E0E;
	padding:30px 10px;
	
	/* CSS3 box shadow, used as an inner glow */
	-moz-box-shadow:0 0 20px #292929 inset;
	-webkit-box-shadow:0 0 20px #292929 inset;
	box-shadow:0 0 20px #292929 inset;
}

#carbonForm,.fieldContainer,.errorTip{
	/* Rounding the divs at once */
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:12px;
}


.formRow{
	height:35px;
	padding:10px;
	margin-left: 30px;
	position:relative;
}

.label{
	float:left;
	padding:0 100px 0 0;
	text-align:right;
	width:70px;
	margin-left: 30px;
}

label{
	font-family:Century Gothic,Myriad Pro,Arial,Helvetica,sans-serif;
	font-size:11px;
	letter-spacing:1px;
	line-height:35px;
}

.field{
	float:left;
}

.field input{
	/* The text boxes */
	border:1px solid white;
	color:#666666;
	font-family:Arial,Helvetica,sans-serif;
	font-size:22px;
	padding:4px 5px;
	background:url("img/box_bg.png") repeat-x scroll left top #FFFFFF;
	outline:none; /* Preventing the default Safari and Chrome text box highlight */
}

.signupButton{
	/* The submit button container */
	text-align:center;
	padding:30px 0 10px;
}

#submit{
	/* The submit button */
	border:1px solid #f4f4f4;
	cursor:pointer;
	height:40px;
	text-indent:-9999px;
	text-transform:uppercase;
	width:110px;
	
	background:url("img/submit.png") no-repeat center center #d0ecfd;
	
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
}

#submit.active{
	/* Marking the submit button as active adds the preloader gif as background */
	background-image:url("img/preloader.gif");
}

#submit:hover{
	background-color:#dcf2ff;
	border:1px solid white;
}

input:hover,
input:focus{
	-moz-box-shadow:0 0 8px lightblue;
	-webkit-box-shadow:0 0 8px lightblue;
	box-shadow:0 0 8px lightblue;
}

.errorTip{
	/* The error divs */
	background-color:#970F08;
	color:white;
	font-size:10px;
	height:26px;
	letter-spacing:0.4px;
	margin-left:20px;
	padding:5px 0 5px 10px;
	position:absolute;
	text-shadow:1px 1px 0 #555555;
	width:200px;
	right:50px;
}




